* {
  margin: 0px;
  padding: 0px;
}
#header {
  width: 100%;
  display: flex;
  background-color: #f9fcfa;
  border-bottom: 1px solid rgb(59, 59, 59);
}
.title-and-logo {
  display: flex;
  width: 80%;
}
#header-img {
  width: 50px;
  margin-left: 50px;
}
#title {
  margin-left: 50px;
  font-size: 30px;
  line-height: 50px;
}
#nav-bar {
  margin-left: 10%;
  width: 50%;
}
#nav-bar > ul {
  display: flex;
  justify-content: space-around;
  margin-right: 60px ;
}
#nav-bar > ul > li {
  list-style: none;
}
/* #nav-bar > ul > li:first-child > a {
margin-left: 50%;
} */
#nav-bar ul li a {
  margin: 20px;
  text-decoration: none;
  line-height: 50px;
  color: black;
}
